*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    background-color: black;
    }

header{
    height: 400px;
    background-image: url(../multimedia/img_fondonav1\(nuevo\).jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.botones_nav{
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 22px;
    background-color: black;
}

.boton_nav.active{
    background-color: rgb(117, 54, 136);
    color: rgb(255, 255, 255);
}



.boton_general{
    padding: 6px;
    font-size: 22px;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
}

.boton_carrito{
    color: white;
    text-decoration: none;
}

.numerito{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 1rem;
}


main{
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.titulo_principal{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 33px;
}

.contenedor_productos{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 1rem;
    height: 1700px;
}

.producto_imagen{
    border-radius: 1rem;

}


.producto_detalle{
    height: 121px;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.producto_boton{
    border: 1px;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}

.producto_detail{
    border: 1px;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}



footer{
    height: 25px;
    background-color: rgb(0, 0, 0);
}

.div_footer{
    display: flex;
    justify-content: space-around;
    height: 24px;
}

.listaRedesSociales{
    height: 20px;
    width: 350px;
    display: flex;
    gap: 20px;
}

.titulosRedSocial{
    text-decoration: none;
    color: white;
}

.titulosContacto{
    height: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-left: 460px;
}



/* MEDIA QUERIES */

@media (max-width: 425px) {

    header{
        height: 200px;
        background-image: url(../multimedia/img_fondonav1\(nuevo\).jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    

    aside{
        height: 340px;
    }


    .botones_nav{
        height: 35px;
    }

    .boton_general{
    font-size: 10px;
    }


    footer{
        height: 40px;
    }
    
    .div_footer{
        display: flex;
        justify-content: space-around;
    }


    .listaRedesSociales{
        display: flex;
        justify-content: space-around;
        width: 100px;
        font-size: 8px;
    }
    
    .titulosRedSocial{
        font-size: 8px;
    }
    
    .titulosContacto{
        display: none;
    }
    
}

