*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: tipografiaUno;
    src: url(../multimedia/tipografia/Abel-Regular.ttf);
}
@font-face {
    font-family: tipografiaDos;
    src: url(../multimedia/tipografia/Pacifico-Regular.ttf);
}


.contenedor{
    background-color: black;
    border-top: 2px solid rgb(117, 54, 136); /* Borde solo en la parte superior */
    border-right: 3px solid rgb(117, 54, 136); /* Borde en el lado derecho */
    border-left: 2px solid rgb(117, 54, 136); /* Borde en el lado izquierdo */
    border-bottom: none; /* Sin borde en la parte inferior */    }

header{
    height: 400px;
    background-image: url(../multimedia/img_fondonav1\(nuevo\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.logo{
    font-family: tipografiaDos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 70px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(117, 54, 136);
    -webkit-text-stroke: 0.01px white;
}

.botones_nav{
    border-top: 3px solid  rgb(117, 54, 136);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 22px;
    background-color: black;
}


.boton_nav.active{
    background-color: rgb(117, 54, 136);
    color: rgb(255, 255, 255);
}



.boton_general{
    font-family: tipografiaUno;
    padding: 6px;
    font-size: 26px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: rgb(117, 54, 136);
}

.boton_carrito{
    color: white;
    text-decoration: none;
}

.numerito{
    background-color: white;
    color: rgb(117, 54, 136);
    padding: 5px;
    border-radius: 0.7rem;
}


main{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.div-titulo{
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: white;
    width: 300px;
    margin: 0 auto; /* Esto centrará el contenedor en la página */
    padding: 10px; /* Ajusta el relleno */
}


.titulo_principal{
    font-family: tipografiaUno;
    text-align: center;
    color: rgb(117, 54, 136);
    font-size: 33px;
}

.contenedor_productos{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 45px;
    border-radius: 1rem;
    padding: 90px;
    margin: 200px;
    margin-top: 10px;
}

.producto_imagen{
    border-radius: 1rem;
    border: 3px solid rgb(117, 54, 136);
}


.producto_detalle{
    border: 4px solid rgb(117, 54, 136);
    height: 129.3px;
    width: 250px;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.producto_boton{
    border: 1px;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}

.producto_detail{
    border: 1px;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}



footer{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(117, 54, 136);
    border-bottom: 3px solid rgb(117, 54, 136);
    border-left: 2px solid rgb(117, 54, 136);
    border-right: 2px solid rgb(117, 54, 136);
}

.div_footer{
    display: flex;
    justify-content: space-around;
    height: 24px;
}

.listaRedesSociales{
    height: 20px;
    width: 350px;
    display: flex;
    gap: 20px;
    list-style: none;
}

.titulosRedSocial{
    text-decoration: none;
    color: white;
}

.titulosContacto{
    height: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-left: 460px;
}



/* MEDIA QUERIES */

@media (max-width: 425px) {

    header{
        height: 200px;
        background-image: url(../multimedia/img_fondonav1\(nuevo\).jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    

    aside{
        height: 340px;
    }


    .botones_nav{
        height: 35px;
    }

    .boton_general{
    font-size: 10px;
    }


    footer{
        height: 40px;
    }
    
    .div_footer{
        display: flex;
        justify-content: space-around;
    }


    .listaRedesSociales{
        display: flex;
        justify-content: space-around;
        width: 100px;
        font-size: 8px;
    }
    
    .titulosRedSocial{
        font-size: 8px;
    }
    
    .titulosContacto{
        display: none;
    }
    
}

